.Button{
	&--border{
		&.hover{
			&:hover{
				background: $color_3;
				border-color: $color_3;
				color: $color_2;
			}
		}
	}
}

.Section{
	background: $color_1;
// ===========
// Structure
// ===========

	&-header{
		&-title{
			font-size: 18px;
			font-weight: normal;
			&--beforeTitleLine:before {
			    position: absolute;
			    display: block;
			    left: 50%;
			    transform: translateX(-50%);
			    bottom: 0px;
			    width: 100px;
			    height: 1px;
			    content: "";
			    background: $color_12;
			}
			@media screen and (min-width: $break-sm){
				font-size: 30px;
			}

		}

		&-subtitle{
			font-size: $font_size_subtitle_section;
			margin: 0px;
			padding: 0px;
			font-weight: normal;
			margin-top: 10px;	
			font-size: 20px;

		}
	}

		& .Section-imageMain{ //<div> image container
			&-figure{
				text-align: center;
			}
			&-imageSrc{
				width: 100%;
				height: auto;
				&--outBottom50{
					
				}
			}
			&-iframe{
				min-height: 400px;
				background-color: $color_4;
			}
			
			&--bigSize{
				@media screen and (min-width: $break-sm) and (max-width: $break-lg - 1){
					position: relative;
					display: inline-block !important;
				}

				@media screen and (min-width: $break-lg){
				    position: absolute;
				    bottom: -90px;
				    &--left{
				    	left: 0px;
				    }
				    &--right{
				    	right: 0px;
				    }
					& .imageSrc{
						width: 130%;
					}
				}
				
				
				@media screen and (min-width: $break-ex){
				
					&.u-size16of24{
						width: calc(100% - #{$sizeColumns} * 10) !important;
					}

					& .imageSrc{
						width: 100%;
						min-width: 1050px !important;
						max-width: 1120px !important;
					}
				}
			}
		}
		& .Section-listSide{ //<div> list container
			@media screen and (min-width: $break-sm) and (max-width: $break-lg - 1){
				width: 100% !important;
			}
			& .Section-items{  //<ul> list
				&-item{
					margin-bottom: 30px;
					
					@media screen and (min-width: $break-sm) and (max-width: $break-lg - 1){
						width: 50% !important;
						float: left;
					}
					&-figure{
						min-width: 64px;
						min-height: 90px;
						&.FigureIcon{
						}
					}
				}
			} 
				
		}
		&--grid-colls{
			@media screen and (max-width: $break-sm) {
				&-coll{
					padding-right: 0px !important;
				}
			}
		}
		& .ReadMore{
					
			&--icon{
				width: 30px;
				height: 30px;
				font-size: 24px;
				& svg{
					width: 100%;
					height: 100%;
				}
			}
		}
		
		& .Section-items{
			&-item{
				&-figure{
					&.u-floatLeft{
							margin-right: 20px;
							min-height: 90px;
						}
					&.FigureIcon{}
					& .Item-img{
						max-height: 500px;
						&--full{
							width: 100%;
						}
					}
				}
				&-title{
					font-size: $font_size_title_item;
				}
				&-subtitle{
					font-size: $font_size_subtitle_item;
				}
				&-resume{
					font-size: 17px;
				}

				&--divisor{
					//padding-right: 15px;
					//margin-right: 15px;
					position: relative;
						&:before{
							position: absolute;
							display: block;
							width: 1px;
							height: 50%;
							background: $color_9;
							top: 50%;
							-moz-transform: translateY(-50%);
							-webkit-transform: translateY(-50%);
							transform: translateY(-50%);
							right: -0.5px;
							content: "";
							z-index: 2;
						}
				}
				

				&-caption{
					left: 0px;
					bottom: 0px;
					text-align: center;
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .title{
						color: $color_1;
						font-weight: 500;
						font-size: 16px;
						& em{
							font-size: 24px;
							margin-top: 5px;
							}
					}
					& .ReadMore{
						font-weight: bold;
					}
					&--label{
						width: auto;
						padding: 10px;
						&--footer{
							bottom: -15px;
						}
					}
					&--light{
						& h4{
							font-size: 14px;
							& em{
								font-size: 18px;
							}
							}	
					}

				}
				& .Button{
					&--border{
						font-weight: bold;
					}
				}

			}

			& .MinTwoColumns{
					@media screen and (max-width: $break-sm - 1){
						width: 50% !important;
					}
				}

		}

		& .navController{
			&--prev{
				left: 0px;
			}
			&--next{
				right: 0px;
			}
			&disabled{
				opacity: 0.45;
			}
			&--all{
				height: 31px;
				line-height: 31px;
				font-size: 0px;
				& .ShowText{
					font-size: $font_size_text;
				}
			}
			&--center{
					//display: inline-block;
					left:inherit !important;
					right:inherit !important;

			}
			&--button{
				height: 31px;
				line-height: 29px;
				&--uniSize{
					width: 31px;
				}
				&--largeSize{
					padding-left: 20px;
					padding-right: 20px;
				}
			}
			&--border{
					border: 1px solid $color_8;
				}
			&--above{
				border-color: #FFF !important;
				border-width: 2px !important;
			}
			&--above:hover{
				background: none !important;
				color: #FFF !important;
			}
			&--above.navController--prev{
				left: $h_spacing / 2 !important;
			}
			&--above.navController--next{
				right: $h_spacing / 2 !important;
			}

		}

		

		
		& .Section-imageMain{}
		& .Section-navigation{
			&-items{
				&--tabs{
					line-height: 100%;
					& .Item{
						& .NavigationLink{
							opacity: 0.5;
							&:hover{
								opacity: 1;
							}
						}
					}
					& .Item.active{
						& .NavigationLink{
							opacity: 1;
						}
					}
				}
			}
			
			
		}

		&--styleBanner{
			.Section-header{
				&--content{
					text-align: center;
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .Section-header{
						&-title{
						font-size: 20px;
						margin-bottom: 20px;
							& em{
								font-size: 30px;
							}
						}
					}
				}
				& .Section-header-title--box{
					font-size: 40px;
					padding:0 15px;
					-webkit-transform: skew(-10deg);
					-moz-transform: skew(-10deg);
					-ms-transform: skew(-10deg);
					-o-transform: skew(-10deg);
					transform: skew(-10deg);
				}
			}
		}
		& .Section-table{
			&-thead{
				&-item{
					/* &:nth-child(1){
						width: 30%;
					}
					&:nth-child(2){
						width: 20%;
					}
					&:nth-child(3){
						width: 20%;
					}
					&:nth-child(4){
						width: 20%;
					} */
					width: 25%;
					
					&-title{
						min-height: 50px;
						font-size: 14px;
						& .Display{
							&--desktop{
								display: none;
							}
							&--mobile{
								display: block;
							}
						}

					}
					@media screen and (min-width: $break-sm){
						width: 25%;
						&-title{
							min-height: 70px;
							font-size: 22px;
							& .Display{
								&--desktop{
									display: block;
								}
								&--mobile{
									display: none;
								}
							}
						}
					}
				}
			}
			&-tbody{
				&-item{
					padding: 2px 5px;
					&-title{
						font-size: 13px;
					}
					& span{
						display: inline-block;
						position: relative;
						padding: 5px 5px;
						border: 1px solid $color_7;
						border-radius: 50px;
						& i{
							position: relative;
							display: block;
							width: 25px;
							height: 25px;
							background: none;
							border-radius: 50px;
							& svg{
								display: none;
								font-size: 18px;
								color: $color_1;
								width: 60%;
								height: 60%;
								margin: 20% 0 0 0;
								}
						}
					}
					&.check{
						& span{
							background: $color_7;
							& i{
								display: block;
								background: $color_3;
								& svg{
									display: inline-block;
								}
							}
						}
					}
					@media screen and (min-width: $break-sm){
						&-title{
							font-size: 18px;
						}
						& span{
							padding: 7px 45px;
						}
					}
				}
			}

		}

	


	


	// =============
	// STYLES
	// =============
	&--style1{ //<section> style section
		color: $color_2;
		& .Section-header{
			&-title{
				font-size: 25px;
				font-weight: normal;
				letter-spacing: .5px;
				color: $color_12;
				@media screen and (min-width: $break-sm){
					letter-spacing: 1px;
				}
			}
			&-subtitle{
				color: $color_2;
				font-weight: normal;
				font-size: 17px;
			}
		}
		&.Section--styleBanner{
			.Section-header{
				&-title{
						&--box{
							color: $color_3;
							background: $color_2;
						}
					}
			}
		}
		& .ReadMore{
			border-color: $color_2;
			&--border{
				color: $color_2;
				background: none;
			}
			&--background{
				color: $color_1 !important;
				background: $color_2;
			}
			
			&--icon{
				color: $color_1;
				background: $color_3;
				border-color: $color_3;
				&:hover{
					background: $color_5;
				}
			}
		}
		& .Section-items{
			&-item{
				&-figure{
					& .FigureIcon{}
				}
				&-title,
				&-title a{
					color: $color_2;
				}
				&-subtitle{
					color: $color_2;
				}
				&-resume{
					color: $color_2;
				}

				&-caption{
					background: rgba(0,0,0,0.5);
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .title{
						color: $color_1;
					}
					& .ReadMore--border{
						color: $color_1;
						border-color: $color_1;
						background: none;
					}
					&--light{
						background: none;
					}

				}
			}
		}
		& .Button--border{

					border-color: $color_2;
					color: $color_2;
					font-weight: bold;
		}
		
		& .navController{
			&--border{
				border-color: $color_8;
				background: $color_1;
				color: $color_2;
				&:hover{
					border-color: $color_1 !important;
					box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
				}
			}
			&.ReadMore{
				&--background{
					background-color: $color_2;
					border-color: $color_2;
					color: $color_1;
				}

			}
			&--tabs{
				background-color: $color_7;
				border-color: $color_7;
				color: $color_2;
				&.active{
					background-color: $color_2;
					border-color: $color_2;
					color: $color_1
				}
			}
		}
		

		& .Section-imageMain{}
		&.LineUp{
			border-top: 3px solid $color_2;
		}
	}
	&--style2{ //<section> style section
		color: $color_1;
		background: $color_2;
		& .Section-header{
			&-title{
				color: $color_3;
			}
			&-subtitle{
				color: $color_1;
			}
		}
		&.Section--styleBanner{
			.Section-header{
				&-title{
						&--box{
							color: $color_2;
							background: $color_3;
						}
					}
			}
		}
		& .ReadMore{
			border-color: $color_1;
			&--border{
				color: $color_1;
				background: none;
			}
			&--background{
				color: $color_2;
				background: $color_1;
			}
			
			&--icon{
				color: $color_1;
				background: $color_3;
				border-color: $color_3;
			}
		}
		& .Section-items{
			&-item{
				&-figure{
					& .FigureIcon{}
				}
				&-title{
					color: $color_3;
				}
				&-subtitle{
					color: $color_1;
				}
				&-resume{
					color: $color_1;
				}
				
				&-caption{
					background: rgba(0,0,0,0.5);
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .title{
						color: $color_1;
					}
					& .readMore{
						color: $color_1;
						border-color: $color_1;
						background: none;
					}
					&--light{
						background: none;
					}
				}
			}
		}
		& .Button--border{
					border-color: $color_20;
					color: $color_1;
					font-weight: bold;	
		}
		& .Button--background{
					border-color: $color_3;
					background: $color_20;
					color: $color_1;
					font-weight: bold;	
		}
		& .Button--background.Button--border{
					border-color: $color_20;
					color: $color_1;
					&:hover{
						background: none;
						color: $color_1;
						border-color: $color_1;
					}
		}
		& .navController{
			&--border{
				border-color: $color_8;
				background: $color_1;
				&:hover{
					border-color: $color_1 !important;
					box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
				}
			}
			&--all{
				&.Button{
					background: $color_2;
					border-color: $color_2;
				}
			}
		}
		& .Section-imageMain{}
	}
	&--style3{ //<section> style section
		color: $color_1;
		background: $color_3;
		& .Section-header{
			&-title{
				color: $color_2;
			}
			&-subtitle{
				color: $color_2;
			}
		}
		&.Section--styleBanner{
			.Section-header{
				&-title{
						&--box{
							color: $color_3;
							background: $color_2;
						}
					}
			}
		}
		& .ReadMore{
			border-color: $color_2;
			&--border{
				color: $color_2;
				background: none;
			}
			&--background{
				color: $color_3;
				background: $color_2;
			}
			
			&--icon{
				color: $color_3;
				background: $color_2;
				border-color: $color_2;
			}
		}
		& .Section-items{
			&-item{
				&-figure{
					& .FigureIcon{}
				}
				&-title{
					color: $color_2;
				}
				&-subtitle{
					color: $color_1;
				}
				&-resume{
					color: $color_1;
				}
				
				&-caption{
					background: rgba(0,0,0,0.5);
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .title{
						color: $color_1;
					}
					& .readMore{
						color: $color_1;
						border-color: $color_1;
						background: none;
					}
					&--light{
						background: none;
					}
				}
			}
		}
		& .Button--border{

					border-color: $color_2;
					color: $color_2;
					font-weight: bold;
			
		}
		& .navController{
			&--border{
				border-color: $color_8;
				background: $color_1;
				&:hover{
					border-color: $color_1 !important;
					box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
				}
			}
			&--all{
				&.Button{
					background: $color_2;
					border-color: $color_2;
				}
			}
		}
		& .Section-imageMain{}
	}

	//==============
	// CROSS STYLES
	//=============

	&--crossStyle{
		&Color_1{
			& .Section-header{
			&-title{
				color: $color_1;
			}
			&-subtitle{
				color: $color_1;
				font-weight: bold;
				font-size: 24px;
			}
			& .Button{
				color: $color_1;
				border-color: $color_1;
				&:hover{
					border-color: $color_2 !important;
					background: $color_2 !important;
					color: $color_3 !important;
				}
			}
		}
		}
	}

	//==============
	// SUBSEÇÃO
	//=============

	&-subSection{
				&-header{
						padding-bottom: $v_spacing / 1.6;
						margin-bottom: $v_spacing / 1.6;
						position: relative;
						&:after{
							position: absolute;
							display: block;
							width: 80px;
							height: 2px;
							bottom: 0px;
							content: "";
							background: $color_10;
							left: 50%;
							-moz-transform: translateX(-50%);
							-webkit-transform: translateX(-50%);
							transform: translateX(-50%);
							@media screen and (min-width: $break-sm){
								left: inherit;
								-moz-transform: inherit;
								-webkit-transform: inherit;
								transform: inherit;
							}
						}
						&-title{
							text-align: center;
							font-size: 16px;
							font-weight: bold;
							letter-spacing: 1.5px;
							color: $color_12;
							@media screen and (min-width: $break-sm){
								letter-spacing: 3px;
							}
						}
					}
					&--formBlock{

						& .Section-subSection-header{
							&:after{
								left: 50%;
								-moz-transform: translateX(-50%);
								-webkit-transform: translateX(-50%);
								transform: translateX(-50%);
							}
						}

				}
			}

	// =============
	// CUSTOMIZER
	// =============
	// =================
	// CADASTRO
	// =================
		&--buscaRoupa{
			& .Section-header{
				&-title{
					color: $color_1;
					font-weight: bolder;
					font-size: 30px;
				}
				&-subtitle{
					color: $color_3;
					font-weight: normal;
					font-size: 30px;
				}

			}
			& .Section-items{
				&-item{
					&--lateralBar{
						border-style: solid;
						border-top: 1px;
						border-bottom: 1px;
						border-color: $color_1;
					}

					&-resume{
						color: $color_3;
					}
				}
			}
		}
		&--polos{
			& .Section-items{
					& .owl-item{
						display: flex;
						align-items: baseline;
					}
					&-item{
						&-title{
							font-size: 15px;
							color: $color_12;
						}	
					}
				}
			}

		&--segmentos{
			background: $color_6;
			& .Section-items{
				&-item{
					min-width: 320px;
					width: 50%;
					&-figure{
						&-figureCaption{
							background: rgba(7,7,7,0.5);
						}
						&-figureCaptionCta{
							background: rgba(117,55,188,0.8);
						}
						
					}
					&-title{
						font-size: 12px;
						letter-spacing: 3px;
						color: $color_1;
					}
					&-subtitle{
						font-size: 13px;
						letter-spacing: 3px;
						color: $color_1;
					}
					&-resume{
						font-size: 15px;
						color: $color_1;
					}
				}
				@media screen and (min-width: $break-sm){
					&-item{
						width: 25%;
						min-width: inherit;
					}
				}
				
			}
			& .Button{
				&--border{
					&.hover{
						&:hover{
							background: $color_1;
							border-color: $color_1;
							color: $color_2;
						}
					}
				}
			}
			& .Button--border{
				border-color: $color_1;
				color: $color_1;
				font-weight: normal;	
			}
			& .Button--background{
				&--marcas{
					border-color: $color_14;
					background: rgba(0,0,0,0);
					color: $color_14;
					font-weight: normal;
				}
				border-color: $color_1;
				background: rgba(0,0,0,0);
				color: $color_1;
				font-weight: bold;	
			}
			& .Button--todos{
				border: 2px solid;
				border-color: $color_2;
				background: rgba(0,0,0,0);
				color: $color_2;
				letter-spacing: 1px;
				&:hover{
					border-color:$color_2;
					background: $color_2;
					color: $color_1;
				}

			}
		}
		&--parceiros{
			background: $color_1;
		}
		&--ctaNewsletter{
			background: $color_2;
			& .Section-header{
				&-title{
					color: $color_1;
				}
			}
			& .Form-row{
				@media screen and (max-width: $break-sm){
					margin-right: 0;
				}
			}
		}
		&--produtos{
			& .Section-items{
				& .owl-item{
						display: flex;
						align-items: baseline;
					}
				&-item{
					&-figure{

					}
					&-title{
						font-size: 15px;
						color: black;
					}
					&-subtitle{
						font-size: 16px;
						color: $color_12;
						font-weight: normal;
					}
					&-resume{
						color: $color_10;

					}
					&-link{
						color: $color_14;
						font-weight: bolder;
					}
				}
			}
			& .Button{
				&--border{
					&.hover{
						&:hover{
							background: rgba(0,0,0,0);
							border-color: $color_14;
							color: $color_14;
						}
					}
				}
			}
			& .Button--border{
					border-color: $color_14;
					color: $color_14;
					font-weight: bolder;	
			}
			& .Button--background{
					border-color: $color_14;
					background: $color_14;
					color: $color_1;
					font-weight: bold;	
			}
			
		}

		&--blog{
			//background: $color_6;
			& .Section-items{
				& .owl-item{
						display: flex;
						align-items: baseline;
					}
				& .Section-header{
					&-subtitle{
						color: $color_2;
					}
				}
				&-item{
					/*box-shadow: 0px 39px 42px -19px rgba(0,0,0,0.35);*/
					&-header{
						background: $color_2;
					}
					&-resume{
						background: $color_1;
						color: $color_15;
					}
					&-title{
						font-size: 20px;
						color:$color_1;
						&--beforeTitleLine:before {
							position: absolute;
						    display: block;
						    left: 50%;
						    transform: translateX(-50%);
						    bottom: 0px;
						    width: 70px;
						    height: 2px;
						    content: "";
						    background: $color_20;

						}
					}
					&-content{
						&-color1{
							background: $color_1;
						}
						&-color2{
							background: $color_2;
						}
					}
				}
			}
		}
		&--depoimentos{
			& .Section-items{
				&-item{
					&-title{
						font-size: 20px;
						color: $color_15;
						font-weight: bolder;
					}
					&-subtitle{
						font-size: 17px;
						color: $color_15;
						font-weight: normal;
					}
					&-resume{
						font-size: 17px;
						color: $color_15;
						font-weight: normal;	
					}
				}
			}
		}

		&--institucional{
			& .Section{
				&-subSection{
					&-header{					
						&-title{
							font-weight: bolder;
							font-size: 30px;
						}
					}
					&--sobre{
						background: $color_6;
						& .Section{
							&-subSection{
								&-header{
									&:after{
										background:$color_12;
									}
									&-title{
										color: $color_12;
									}
								}
								&-items{
									&-item{
										&-resume{
											color: $color_15;
										}
									}
								}
							}
						}
						& .Button{
								&--border{
									&.hover{
										&:hover{
											background: $color_14;
											border-color: $color_14;
											color: $color_1;
										}
									}
								}
							}
							& .Button--border{
									border-color: $color_14;
									color: $color_14;
									font-weight: bolder;	
							}
							& .Button--background{
									border-color: $color_14;
									background: rgba(0,0,0,0);
									color: $color_14;
									font-weight: bold;	
							}
					}
					&--faleConosco{
						background: $color_21;
						& .Section{
							&-subSection{
								&-header{
									&:after{
										background: $color_12;
									}
									&-title{
										color: $color_12;
									}
								}
								&-items{
									&-item{
										&-resume{
											color: $color_15;
											@media screen and (max-width: $break-sm){
												text-align: center;
											}
										}
									}
								}
							}
						}
						& .Button{
								&--border{
									&.hover{
										&:hover{
											background: rgba(0,0,0,0);
											border-color: $color_15;
											color: $color_15;
										}
									}
								}
						}
						& .Button--border{
									border-color: $color_7;
									color: $color_1;
									font-weight: bolder;	
						}
						& .Button--background{
									border-color: $color_15;
									background: $color_15;
									color: $color_1;
									font-weight: bold;	
						}
						& .Form-row{
							@media screen and (min-width: $break-md){
								margin-right: 2.08333%;
							}
						}

					}
				}
			}
		}
		&--newfooter{
			background: linear-gradient(to right bottom, $color_14, $color_16);
			background-size: cover;
			& .Section{
				&-header{
					
					&-title{
						color: $color_1;
						font-weight: normal;
						font-size: 15px;
						letter-spacing: 1px;
						position: relative;
						padding-bottom: 11px;
						margin-left:5px;
						&:after{
							position: absolute;
							display: block;
							width: 80px;
							height: 1px;
							bottom: 0px;
							content: "";
							background: $color_1;
							left: 0px;
						}
					}
					&-content{
						padding-bottom: 5px;
					}
				}
				&-items{
					&-item{
						&-title{
							color: $color_1;
							font-size: 14px;
						}
						&-resume{
							color: $color_1;
							font-size: 15px;
						}
					}
				}
			}

		}
		&--footerSocial{
			& .Section{
				background: $color_14;
				&-content{
					background: $color_1;
					box-shadow: 0px 39px 42px -19px rgba(0,0,0,0.35);
					&--mobile{
						background: rgba(0,0,0,0);
					}
				}
				&-items{
					&-item{
						&--face{
							background:$color_13;
						}
						&--insta{
							background: $color_18;
						}
						&--yt{
							background: $color_19;
						}
						&-title{
							font-size: 18px;
							color: $color_1;
						}
					}
				}
			}
		}
		&--scrollDown{
			background:rgba(0,0,0,0);
			& .Section{
				background:rgba(0,0,0,0);
				&-header{
					top:-40px;
					background:rgba(0,0,0,0);
					&-figure{
						background:rgba(0,0,0,0);
					}
				}
			}
		}
						
		&--cadastro{
		&Revendedor{
			& .Section-subSection{
				&--formBlock{
					&:nth-child(odd){
						background: $color_6;
					}
					&:nth-child(even){
						background: $color_1;
					}
					& .Section-subSection-header{
							&:after{
								-moz-background: linear-gradient(to bottom right, $color_11, $color_5);
								-webkit-background: linear-gradient(to bottom right, $color_11, $color_5);
								background: linear-gradient(to bottom right, $color_11, $color_5);
							}
						}
					&.Segmentos{
						& ._row{
							margin-bottom: 15px;
							&:hover,
							&.active{
							    background: #FFF;
							    box-shadow: 0px 0px 20px rgba(0,0,0,0.20);
							    border-radius: 3px;
							}
						}

						& label{
							height: 150px;
							max-width: 90px;
							padding:10px;
							& span{
								font-size: 13px;
								font-weight: bold;
								color: $color_11;
							}
						}
					}
				}
			}
		}

	}
	//ALTERAÇÕES NAS INTERNAS DO PROJETO RPA (MARCAS DE ROUPA)

	&--marcasDeRoupa{
		@media screen and (min-width: $break-ex){
						margin-left: auto;
						margin-right: auto;
					}
		& .Section{
			&-items{
				justify-content: space-between;
				@media screen and (max-width: $break-sm){
					justify-content: center;
				}
				&-item{
					&-title{
						font-size: 15px;
						letter-spacing: 2px;
						color: $color_12;
					}
					&-figure{
						border-radius: 1%;
					}
				}
			}
			&-content{
				width: 100%;
				& .page-numbers{
					width: 4.16%;
					font-size: 25px;
					color: $color_12;
					display: flex;
					justify-content: center;
					align-items: center;
					@media screen and (max-width: $break-sm){
						font-size: 30px;
						width: 10%;
						justify-content: flex-start;
					}
				}
			}
		}
	}
	&--single{
		& .Section{
			&-content{
				@media screen and(max-width: $break-sm){
					align-items: center;
					text-align: center;
				}
				&-items{
					&-item{
						@media screen and(max-width: $break-sm){
							flex-direction: column;
							text-align: left;
						}
						&-title{
						color: $color_12;
						font-size: 20px;
						&--altaCaixa{
							color: $color_12;
							font-size: 35px;
							padding-bottom: 18.75px;
							@media screen and(max-width: $break-sm){
								text-align: center;
							}
						}
						}
						&-subtitle{
							color: $color_15;
						}
						&-resume{
							@media screen and (max-width: $break-sm){
								overflow: hidden;
							}
							color: $color_12;
							font-weight: lighter;
						}
						&--mobileLeft{
							margin-right: 10px;
							@media screen and(max-width: $break-sm){
								text-align: left;
							}
						}
						&--mobileRight{
							@media screen and(max-width: $break-sm){
								text-align: right;
							}
						}
					}
					&--figureMobile{
						@media screen and (max-width: $break-sm){
						margin-right: 0;
						padding-bottom: 18.75px;
					}
					}
					
				}
			}
		}
	}
	&--internaSegmentos{
		& .Section{
			&-content{
				&-items{
					&-item{
						&-resume{
							color:$color_12;
							font-size: 25px;
							&:hover{
								color:$color_14;
								transition: 0.5s;
							}
						}
					}
				}
			}
		}
	}
	// =================
	// FOOTER
	// =================
	&--footer{
		&Brands{
			background: $color_4;
			& .Section-subSection{
					&-header{
						color: $color_10;
					}
					&--selos{
					}
					&--SocialBar{
						
						& .SocialBar-item{
							& .u-buttonLink{
								border-width: 2px;
								border-style: solid;
								border-color: $color_2;
								color: $color_2;
								&:hover{
									border-color: $color_2;
									color: $color_1;
									background: $color_2;
								}
							}
						}
					}
				}
			@media screen and (min-width: $break-sm){
				& .Section-subSection{
					&--selos{
						& .Section-subSection-header{
							text-align: left;
						}
						& .Section-items{
							justify-content: flex-start;
						}
					}
					&--SocialBar{
						margin-top: 0px;
						& .Section-subSection-header{
							text-align: right;
							&:after{
								right: 0px;
							}
						}
						& .SocialBar-items{
							justify-content: flex-end;
							& .u-buttonLink{
								
							}
						}
					}
				}
			}
		}
		&Info{
			& .Section-subSection{
				&--bio{
					font-size: 13px;
				}
				&--contact p{
					font-size: 15px;
					& .u-icon{
						font-size: 16px;
					}
					& span{
						height: 20px;
						line-height: 15px;
						padding-left: 5px;
					}
				}
				&--author{

				}

				@media screen and (min-width: $break-sm){
					&--bio{
						margin-bottom: 0px;
						p{
							text-align: left;
						}
					}
					&--contact{
						margin-bottom: 0px;
					}
					
					&--author{
						text-align: right;	
					}
				}

			}
		}
	}

	@media screen and (min-width: $break-sm){
			& .Button--persona{
					display: none !important;
				}
		}

	}


	.Site{
		&--fabricante{
			& .Site-footer{
				& .SocialBar-item{
					& .u-buttonLink{
						border-width: 2px;
						border-style: solid;
						border-color: $color_13;
						color: $color_13;
						&:hover{
							border-color: $color_13;
							color: $color_1;
							background: $color_13;
						}
					}
				}
			}

			& .Section--footerInfo{
				-moz-background: linear-gradient(to bottom right, $color_2, $color_5);
				-webkit-background: linear-gradient(to bottom right, $color_2, $color_5);
				background: linear-gradient(to bottom right, $color_2, $color_5);
			}
		}
	}