
//==============================
// Variables
//==============================

//== colors tests =================

$color_1: #FFFFFF; //Branco
$color_2: #7fcc73; //Verde Padrão
$color_3: #ffd800; //amarelo RPA
$color_4: #DDDDDD;
$color_5: #bd6f67;
$color_6: #f0f0f0; //Cinza Claro
$color_7: #e0e0e0; //Cinza médio
$color_8: #CCCCCC;
$color_9: #999999;
$color_10: #777777;
$color_11: #701cb5;
$color_12: #000000; //Preto
$color_13: #589de0; //Facebook
$color_14: #70aa8e; //Verde Footer Escuro
$color_15: #888888; //Cinza Escuro
$color_16: #b5cf6d; //Verde Footer Claro
$color_17: #510c81; //ROXO FORM
$color_18: #86ccca; //Insta
$color_19: #ff4c52; //Youtube
$color_20: #ff8503; //laranja default
$color_21: #e0e0e0; //Cinza fale conosco
//== Utilities =================
//Colors
$cor_lilas: #4f4872;
$cor_yellow: #feb933;

//Fonts
$fontFamily: "Raleway";
$font_size_text: 18px;
$font_size_title_section: 30px;
$font_size_subtitle_section: 20px;
$font_size_title_item: 24px;
$font_size_subtitle_item: 18px;

//== Layout =====================
//Regular Content
$h_spacing: 4.166666666666667%;
$v_spacing: 37.5px;

//== Sizes =====================

//Natural
$numColumns: 24;
$sizeColumns: 4.166666666666667%;
$sizeColumns_px: 50px;



//==============================
// Components
//==============================


//customizer
$header_height_m: 74px;
$header_height: $header_height_m * 1.25;



//==============================
// Variables in queries
//==============================


$break-sm: 768px;
$break-md: 960px;
$break-lg: 1200px;
$break-ex: 1400px;


//==============================
// Animate
//==============================
$time_animate: 0.5s; 