// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-figure-icon-apple-name: 'FigureIcon--apple';
$-figure-icon-apple-x: 0px;
$-figure-icon-apple-y: 0px;
$-figure-icon-apple-offset-x: 0px;
$-figure-icon-apple-offset-y: 0px;
$-figure-icon-apple-width: 133px;
$-figure-icon-apple-height: 132px;
$-figure-icon-apple-total-width: 377px;
$-figure-icon-apple-total-height: 362px;
$-figure-icon-apple-image: '../images/sprite.png';
$-figure-icon-apple: (0px, 0px, 0px, 0px, 133px, 132px, 377px, 362px, '../images/sprite.png', 'FigureIcon--apple', );
$-figure-icon-bikini-color2-2-name: 'FigureIcon--bikini--color2--2';
$-figure-icon-bikini-color2-2-x: 35px;
$-figure-icon-bikini-color2-2-y: 264px;
$-figure-icon-bikini-color2-2-offset-x: -35px;
$-figure-icon-bikini-color2-2-offset-y: -264px;
$-figure-icon-bikini-color2-2-width: 35px;
$-figure-icon-bikini-color2-2-height: 47px;
$-figure-icon-bikini-color2-2-total-width: 377px;
$-figure-icon-bikini-color2-2-total-height: 362px;
$-figure-icon-bikini-color2-2-image: '../images/sprite.png';
$-figure-icon-bikini-color2-2: (35px, 264px, -35px, -264px, 35px, 47px, 377px, 362px, '../images/sprite.png', 'FigureIcon--bikini--color2--2', );
$-figure-icon-bikini-color2-name: 'FigureIcon--bikini--color2';
$-figure-icon-bikini-color2-x: 266px;
$-figure-icon-bikini-color2-y: 213px;
$-figure-icon-bikini-color2-offset-x: -266px;
$-figure-icon-bikini-color2-offset-y: -213px;
$-figure-icon-bikini-color2-width: 35px;
$-figure-icon-bikini-color2-height: 47px;
$-figure-icon-bikini-color2-total-width: 377px;
$-figure-icon-bikini-color2-total-height: 362px;
$-figure-icon-bikini-color2-image: '../images/sprite.png';
$-figure-icon-bikini-color2: (266px, 213px, -266px, -213px, 35px, 47px, 377px, 362px, '../images/sprite.png', 'FigureIcon--bikini--color2', );
$-figure-icon-bikini-name: 'FigureIcon--bikini';
$-figure-icon-bikini-x: 0px;
$-figure-icon-bikini-y: 264px;
$-figure-icon-bikini-offset-x: 0px;
$-figure-icon-bikini-offset-y: -264px;
$-figure-icon-bikini-width: 35px;
$-figure-icon-bikini-height: 47px;
$-figure-icon-bikini-total-width: 377px;
$-figure-icon-bikini-total-height: 362px;
$-figure-icon-bikini-image: '../images/sprite.png';
$-figure-icon-bikini: (0px, 264px, 0px, -264px, 35px, 47px, 377px, 362px, '../images/sprite.png', 'FigureIcon--bikini', );
$-figure-icon-blusa-gravata-color2-2-name: 'FigureIcon--blusaGravata--color2--2';
$-figure-icon-blusa-gravata-color2-2-x: 148px;
$-figure-icon-blusa-gravata-color2-2-y: 311px;
$-figure-icon-blusa-gravata-color2-2-offset-x: -148px;
$-figure-icon-blusa-gravata-color2-2-offset-y: -311px;
$-figure-icon-blusa-gravata-color2-2-width: 37px;
$-figure-icon-blusa-gravata-color2-2-height: 37px;
$-figure-icon-blusa-gravata-color2-2-total-width: 377px;
$-figure-icon-blusa-gravata-color2-2-total-height: 362px;
$-figure-icon-blusa-gravata-color2-2-image: '../images/sprite.png';
$-figure-icon-blusa-gravata-color2-2: (148px, 311px, -148px, -311px, 37px, 37px, 377px, 362px, '../images/sprite.png', 'FigureIcon--blusaGravata--color2--2', );
$-figure-icon-blusa-gravata-color2-name: 'FigureIcon--blusaGravata--color2';
$-figure-icon-blusa-gravata-color2-x: 185px;
$-figure-icon-blusa-gravata-color2-y: 311px;
$-figure-icon-blusa-gravata-color2-offset-x: -185px;
$-figure-icon-blusa-gravata-color2-offset-y: -311px;
$-figure-icon-blusa-gravata-color2-width: 37px;
$-figure-icon-blusa-gravata-color2-height: 37px;
$-figure-icon-blusa-gravata-color2-total-width: 377px;
$-figure-icon-blusa-gravata-color2-total-height: 362px;
$-figure-icon-blusa-gravata-color2-image: '../images/sprite.png';
$-figure-icon-blusa-gravata-color2: (185px, 311px, -185px, -311px, 37px, 37px, 377px, 362px, '../images/sprite.png', 'FigureIcon--blusaGravata--color2', );
$-figure-icon-blusa-gravata-name: 'FigureIcon--blusaGravata';
$-figure-icon-blusa-gravata-x: 74px;
$-figure-icon-blusa-gravata-y: 311px;
$-figure-icon-blusa-gravata-offset-x: -74px;
$-figure-icon-blusa-gravata-offset-y: -311px;
$-figure-icon-blusa-gravata-width: 37px;
$-figure-icon-blusa-gravata-height: 37px;
$-figure-icon-blusa-gravata-total-width: 377px;
$-figure-icon-blusa-gravata-total-height: 362px;
$-figure-icon-blusa-gravata-image: '../images/sprite.png';
$-figure-icon-blusa-gravata: (74px, 311px, -74px, -311px, 37px, 37px, 377px, 362px, '../images/sprite.png', 'FigureIcon--blusaGravata', );
$-figure-icon-cabide-color2-2-name: 'FigureIcon--cabide--color2--2';
$-figure-icon-cabide-color2-2-x: 196px;
$-figure-icon-cabide-color2-2-y: 264px;
$-figure-icon-cabide-color2-2-offset-x: -196px;
$-figure-icon-cabide-color2-2-offset-y: -264px;
$-figure-icon-cabide-color2-2-width: 42px;
$-figure-icon-cabide-color2-2-height: 35px;
$-figure-icon-cabide-color2-2-total-width: 377px;
$-figure-icon-cabide-color2-2-total-height: 362px;
$-figure-icon-cabide-color2-2-image: '../images/sprite.png';
$-figure-icon-cabide-color2-2: (196px, 264px, -196px, -264px, 42px, 35px, 377px, 362px, '../images/sprite.png', 'FigureIcon--cabide--color2--2', );
$-figure-icon-cabide-color2-name: 'FigureIcon--cabide--color2';
$-figure-icon-cabide-color2-x: 280px;
$-figure-icon-cabide-color2-y: 264px;
$-figure-icon-cabide-color2-offset-x: -280px;
$-figure-icon-cabide-color2-offset-y: -264px;
$-figure-icon-cabide-color2-width: 42px;
$-figure-icon-cabide-color2-height: 35px;
$-figure-icon-cabide-color2-total-width: 377px;
$-figure-icon-cabide-color2-total-height: 362px;
$-figure-icon-cabide-color2-image: '../images/sprite.png';
$-figure-icon-cabide-color2: (280px, 264px, -280px, -264px, 42px, 35px, 377px, 362px, '../images/sprite.png', 'FigureIcon--cabide--color2', );
$-figure-icon-cabide-name: 'FigureIcon--cabide';
$-figure-icon-cabide-x: 238px;
$-figure-icon-cabide-y: 264px;
$-figure-icon-cabide-offset-x: -238px;
$-figure-icon-cabide-offset-y: -264px;
$-figure-icon-cabide-width: 42px;
$-figure-icon-cabide-height: 35px;
$-figure-icon-cabide-total-width: 377px;
$-figure-icon-cabide-total-height: 362px;
$-figure-icon-cabide-image: '../images/sprite.png';
$-figure-icon-cabide: (238px, 264px, -238px, -264px, 42px, 35px, 377px, 362px, '../images/sprite.png', 'FigureIcon--cabide', );
$-figure-icon-calcado-color2-2-name: 'FigureIcon--calcado--color2--2';
$-figure-icon-calcado-color2-2-x: 70px;
$-figure-icon-calcado-color2-2-y: 264px;
$-figure-icon-calcado-color2-2-offset-x: -70px;
$-figure-icon-calcado-color2-2-offset-y: -264px;
$-figure-icon-calcado-color2-2-width: 42px;
$-figure-icon-calcado-color2-2-height: 36px;
$-figure-icon-calcado-color2-2-total-width: 377px;
$-figure-icon-calcado-color2-2-total-height: 362px;
$-figure-icon-calcado-color2-2-image: '../images/sprite.png';
$-figure-icon-calcado-color2-2: (70px, 264px, -70px, -264px, 42px, 36px, 377px, 362px, '../images/sprite.png', 'FigureIcon--calcado--color2--2', );
$-figure-icon-calcado-color2-name: 'FigureIcon--calcado--color2';
$-figure-icon-calcado-color2-x: 154px;
$-figure-icon-calcado-color2-y: 264px;
$-figure-icon-calcado-color2-offset-x: -154px;
$-figure-icon-calcado-color2-offset-y: -264px;
$-figure-icon-calcado-color2-width: 42px;
$-figure-icon-calcado-color2-height: 36px;
$-figure-icon-calcado-color2-total-width: 377px;
$-figure-icon-calcado-color2-total-height: 362px;
$-figure-icon-calcado-color2-image: '../images/sprite.png';
$-figure-icon-calcado-color2: (154px, 264px, -154px, -264px, 42px, 36px, 377px, 362px, '../images/sprite.png', 'FigureIcon--calcado--color2', );
$-figure-icon-calcado-name: 'FigureIcon--calcado';
$-figure-icon-calcado-x: 112px;
$-figure-icon-calcado-y: 264px;
$-figure-icon-calcado-offset-x: -112px;
$-figure-icon-calcado-offset-y: -264px;
$-figure-icon-calcado-width: 42px;
$-figure-icon-calcado-height: 36px;
$-figure-icon-calcado-total-width: 377px;
$-figure-icon-calcado-total-height: 362px;
$-figure-icon-calcado-image: '../images/sprite.png';
$-figure-icon-calcado: (112px, 264px, -112px, -264px, 42px, 36px, 377px, 362px, '../images/sprite.png', 'FigureIcon--calcado', );
$-figure-icon-check-name: 'FigureIcon--check';
$-figure-icon-check-x: 259px;
$-figure-icon-check-y: 311px;
$-figure-icon-check-offset-x: -259px;
$-figure-icon-check-offset-y: -311px;
$-figure-icon-check-width: 28px;
$-figure-icon-check-height: 24px;
$-figure-icon-check-total-width: 377px;
$-figure-icon-check-total-height: 362px;
$-figure-icon-check-image: '../images/sprite.png';
$-figure-icon-check: (259px, 311px, -259px, -311px, 28px, 24px, 377px, 362px, '../images/sprite.png', 'FigureIcon--check', );
$-figure-icon-company-2-name: 'FigureIcon--company--2';
$-figure-icon-company-2-x: 362px;
$-figure-icon-company-2-y: 68px;
$-figure-icon-company-2-offset-x: -362px;
$-figure-icon-company-2-offset-y: -68px;
$-figure-icon-company-2-width: 13px;
$-figure-icon-company-2-height: 17px;
$-figure-icon-company-2-total-width: 377px;
$-figure-icon-company-2-total-height: 362px;
$-figure-icon-company-2-image: '../images/sprite.png';
$-figure-icon-company-2: (362px, 68px, -362px, -68px, 13px, 17px, 377px, 362px, '../images/sprite.png', 'FigureIcon--company--2', );
$-figure-icon-envelope-2-name: 'FigureIcon--envelope--2';
$-figure-icon-envelope-2-x: 18px;
$-figure-icon-envelope-2-y: 348px;
$-figure-icon-envelope-2-offset-x: -18px;
$-figure-icon-envelope-2-offset-y: -348px;
$-figure-icon-envelope-2-width: 18px;
$-figure-icon-envelope-2-height: 14px;
$-figure-icon-envelope-2-total-width: 377px;
$-figure-icon-envelope-2-total-height: 362px;
$-figure-icon-envelope-2-image: '../images/sprite.png';
$-figure-icon-envelope-2: (18px, 348px, -18px, -348px, 18px, 14px, 377px, 362px, '../images/sprite.png', 'FigureIcon--envelope--2', );
$-figure-icon-envelope-name: 'FigureIcon--envelope';
$-figure-icon-envelope-x: 0px;
$-figure-icon-envelope-y: 348px;
$-figure-icon-envelope-offset-x: 0px;
$-figure-icon-envelope-offset-y: -348px;
$-figure-icon-envelope-width: 18px;
$-figure-icon-envelope-height: 14px;
$-figure-icon-envelope-total-width: 377px;
$-figure-icon-envelope-total-height: 362px;
$-figure-icon-envelope-image: '../images/sprite.png';
$-figure-icon-envelope: (0px, 348px, 0px, -348px, 18px, 14px, 377px, 362px, '../images/sprite.png', 'FigureIcon--envelope', );
$-figure-icon-face-name: 'FigureIcon--face';
$-figure-icon-face-x: 345px;
$-figure-icon-face-y: 225px;
$-figure-icon-face-offset-x: -345px;
$-figure-icon-face-offset-y: -225px;
$-figure-icon-face-width: 13px;
$-figure-icon-face-height: 24px;
$-figure-icon-face-total-width: 377px;
$-figure-icon-face-total-height: 362px;
$-figure-icon-face-image: '../images/sprite.png';
$-figure-icon-face: (345px, 225px, -345px, -225px, 13px, 24px, 377px, 362px, '../images/sprite.png', 'FigureIcon--face', );
$-figure-icon-infantil-color2-2-name: 'FigureIcon--infantil--color2--2';
$-figure-icon-infantil-color2-2-x: 266px;
$-figure-icon-infantil-color2-2-y: 72px;
$-figure-icon-infantil-color2-2-offset-x: -266px;
$-figure-icon-infantil-color2-2-offset-y: -72px;
$-figure-icon-infantil-color2-2-width: 60px;
$-figure-icon-infantil-color2-2-height: 36px;
$-figure-icon-infantil-color2-2-total-width: 377px;
$-figure-icon-infantil-color2-2-total-height: 362px;
$-figure-icon-infantil-color2-2-image: '../images/sprite.png';
$-figure-icon-infantil-color2-2: (266px, 72px, -266px, -72px, 60px, 36px, 377px, 362px, '../images/sprite.png', 'FigureIcon--infantil--color2--2', );
$-figure-icon-infantil-color2-name: 'FigureIcon--infantil--color2';
$-figure-icon-infantil-color2-x: 266px;
$-figure-icon-infantil-color2-y: 36px;
$-figure-icon-infantil-color2-offset-x: -266px;
$-figure-icon-infantil-color2-offset-y: -36px;
$-figure-icon-infantil-color2-width: 60px;
$-figure-icon-infantil-color2-height: 36px;
$-figure-icon-infantil-color2-total-width: 377px;
$-figure-icon-infantil-color2-total-height: 362px;
$-figure-icon-infantil-color2-image: '../images/sprite.png';
$-figure-icon-infantil-color2: (266px, 36px, -266px, -36px, 60px, 36px, 377px, 362px, '../images/sprite.png', 'FigureIcon--infantil--color2', );
$-figure-icon-infantil-name: 'FigureIcon--infantil';
$-figure-icon-infantil-x: 266px;
$-figure-icon-infantil-y: 0px;
$-figure-icon-infantil-offset-x: -266px;
$-figure-icon-infantil-offset-y: 0px;
$-figure-icon-infantil-width: 60px;
$-figure-icon-infantil-height: 36px;
$-figure-icon-infantil-total-width: 377px;
$-figure-icon-infantil-total-height: 362px;
$-figure-icon-infantil-image: '../images/sprite.png';
$-figure-icon-infantil: (266px, 0px, -266px, 0px, 60px, 36px, 377px, 362px, '../images/sprite.png', 'FigureIcon--infantil', );
$-figure-icon-insta-name: 'FigureIcon--insta';
$-figure-icon-insta-x: 287px;
$-figure-icon-insta-y: 311px;
$-figure-icon-insta-offset-x: -287px;
$-figure-icon-insta-offset-y: -311px;
$-figure-icon-insta-width: 23px;
$-figure-icon-insta-height: 23px;
$-figure-icon-insta-total-width: 377px;
$-figure-icon-insta-total-height: 362px;
$-figure-icon-insta-image: '../images/sprite.png';
$-figure-icon-insta: (287px, 311px, -287px, -311px, 23px, 23px, 377px, 362px, '../images/sprite.png', 'FigureIcon--insta', );
$-figure-icon-jeans-color2-2-name: 'FigureIcon--jeans--color2--2';
$-figure-icon-jeans-color2-2-x: 0px;
$-figure-icon-jeans-color2-2-y: 311px;
$-figure-icon-jeans-color2-2-offset-x: 0px;
$-figure-icon-jeans-color2-2-offset-y: -311px;
$-figure-icon-jeans-color2-2-width: 37px;
$-figure-icon-jeans-color2-2-height: 37px;
$-figure-icon-jeans-color2-2-total-width: 377px;
$-figure-icon-jeans-color2-2-total-height: 362px;
$-figure-icon-jeans-color2-2-image: '../images/sprite.png';
$-figure-icon-jeans-color2-2: (0px, 311px, 0px, -311px, 37px, 37px, 377px, 362px, '../images/sprite.png', 'FigureIcon--jeans--color2--2', );
$-figure-icon-jeans-color2-name: 'FigureIcon--jeans--color2';
$-figure-icon-jeans-color2-x: 37px;
$-figure-icon-jeans-color2-y: 311px;
$-figure-icon-jeans-color2-offset-x: -37px;
$-figure-icon-jeans-color2-offset-y: -311px;
$-figure-icon-jeans-color2-width: 37px;
$-figure-icon-jeans-color2-height: 37px;
$-figure-icon-jeans-color2-total-width: 377px;
$-figure-icon-jeans-color2-total-height: 362px;
$-figure-icon-jeans-color2-image: '../images/sprite.png';
$-figure-icon-jeans-color2: (37px, 311px, -37px, -311px, 37px, 37px, 377px, 362px, '../images/sprite.png', 'FigureIcon--jeans--color2', );
$-figure-icon-jeans-name: 'FigureIcon--jeans';
$-figure-icon-jeans-x: 111px;
$-figure-icon-jeans-y: 311px;
$-figure-icon-jeans-offset-x: -111px;
$-figure-icon-jeans-offset-y: -311px;
$-figure-icon-jeans-width: 37px;
$-figure-icon-jeans-height: 37px;
$-figure-icon-jeans-total-width: 377px;
$-figure-icon-jeans-total-height: 362px;
$-figure-icon-jeans-image: '../images/sprite.png';
$-figure-icon-jeans: (111px, 311px, -111px, -311px, 37px, 37px, 377px, 362px, '../images/sprite.png', 'FigureIcon--jeans', );
$-figure-icon-lingerie-color2-2-name: 'FigureIcon--lingerie--color2--2';
$-figure-icon-lingerie-color2-2-x: 326px;
$-figure-icon-lingerie-color2-2-y: 265px;
$-figure-icon-lingerie-color2-2-offset-x: -326px;
$-figure-icon-lingerie-color2-2-offset-y: -265px;
$-figure-icon-lingerie-color2-2-width: 19px;
$-figure-icon-lingerie-color2-2-height: 40px;
$-figure-icon-lingerie-color2-2-total-width: 377px;
$-figure-icon-lingerie-color2-2-total-height: 362px;
$-figure-icon-lingerie-color2-2-image: '../images/sprite.png';
$-figure-icon-lingerie-color2-2: (326px, 265px, -326px, -265px, 19px, 40px, 377px, 362px, '../images/sprite.png', 'FigureIcon--lingerie--color2--2', );
$-figure-icon-lingerie-color2-name: 'FigureIcon--lingerie--color2';
$-figure-icon-lingerie-color2-x: 326px;
$-figure-icon-lingerie-color2-y: 225px;
$-figure-icon-lingerie-color2-offset-x: -326px;
$-figure-icon-lingerie-color2-offset-y: -225px;
$-figure-icon-lingerie-color2-width: 19px;
$-figure-icon-lingerie-color2-height: 40px;
$-figure-icon-lingerie-color2-total-width: 377px;
$-figure-icon-lingerie-color2-total-height: 362px;
$-figure-icon-lingerie-color2-image: '../images/sprite.png';
$-figure-icon-lingerie-color2: (326px, 225px, -326px, -225px, 19px, 40px, 377px, 362px, '../images/sprite.png', 'FigureIcon--lingerie--color2', );
$-figure-icon-lingerie-name: 'FigureIcon--lingerie';
$-figure-icon-lingerie-x: 301px;
$-figure-icon-lingerie-y: 213px;
$-figure-icon-lingerie-offset-x: -301px;
$-figure-icon-lingerie-offset-y: -213px;
$-figure-icon-lingerie-width: 19px;
$-figure-icon-lingerie-height: 40px;
$-figure-icon-lingerie-total-width: 377px;
$-figure-icon-lingerie-total-height: 362px;
$-figure-icon-lingerie-image: '../images/sprite.png';
$-figure-icon-lingerie: (301px, 213px, -301px, -213px, 19px, 40px, 377px, 362px, '../images/sprite.png', 'FigureIcon--lingerie', );
$-figure-icon-lupa-name: 'FigureIcon--lupa';
$-figure-icon-lupa-x: 333px;
$-figure-icon-lupa-y: 311px;
$-figure-icon-lupa-offset-x: -333px;
$-figure-icon-lupa-offset-y: -311px;
$-figure-icon-lupa-width: 18px;
$-figure-icon-lupa-height: 18px;
$-figure-icon-lupa-total-width: 377px;
$-figure-icon-lupa-total-height: 362px;
$-figure-icon-lupa-image: '../images/sprite.png';
$-figure-icon-lupa: (333px, 311px, -333px, -311px, 18px, 18px, 377px, 362px, '../images/sprite.png', 'FigureIcon--lupa', );
$-figure-icon-meditation-name: 'FigureIcon--meditation';
$-figure-icon-meditation-x: 133px;
$-figure-icon-meditation-y: 0px;
$-figure-icon-meditation-offset-x: -133px;
$-figure-icon-meditation-offset-y: 0px;
$-figure-icon-meditation-width: 133px;
$-figure-icon-meditation-height: 132px;
$-figure-icon-meditation-total-width: 377px;
$-figure-icon-meditation-total-height: 362px;
$-figure-icon-meditation-image: '../images/sprite.png';
$-figure-icon-meditation: (133px, 0px, -133px, 0px, 133px, 132px, 377px, 362px, '../images/sprite.png', 'FigureIcon--meditation', );
$-figure-icon-msg-name: 'FigureIcon--msg';
$-figure-icon-msg-x: 310px;
$-figure-icon-msg-y: 311px;
$-figure-icon-msg-offset-x: -310px;
$-figure-icon-msg-offset-y: -311px;
$-figure-icon-msg-width: 23px;
$-figure-icon-msg-height: 18px;
$-figure-icon-msg-total-width: 377px;
$-figure-icon-msg-total-height: 362px;
$-figure-icon-msg-image: '../images/sprite.png';
$-figure-icon-msg: (310px, 311px, -310px, -311px, 23px, 18px, 377px, 362px, '../images/sprite.png', 'FigureIcon--msg', );
$-figure-icon-oculos-color2-2-name: 'FigureIcon--oculos--color2--2';
$-figure-icon-oculos-color2-2-x: 266px;
$-figure-icon-oculos-color2-2-y: 143px;
$-figure-icon-oculos-color2-2-offset-x: -266px;
$-figure-icon-oculos-color2-2-offset-y: -143px;
$-figure-icon-oculos-color2-2-width: 49px;
$-figure-icon-oculos-color2-2-height: 35px;
$-figure-icon-oculos-color2-2-total-width: 377px;
$-figure-icon-oculos-color2-2-total-height: 362px;
$-figure-icon-oculos-color2-2-image: '../images/sprite.png';
$-figure-icon-oculos-color2-2: (266px, 143px, -266px, -143px, 49px, 35px, 377px, 362px, '../images/sprite.png', 'FigureIcon--oculos--color2--2', );
$-figure-icon-oculos-color2-name: 'FigureIcon--oculos--color2';
$-figure-icon-oculos-color2-x: 266px;
$-figure-icon-oculos-color2-y: 178px;
$-figure-icon-oculos-color2-offset-x: -266px;
$-figure-icon-oculos-color2-offset-y: -178px;
$-figure-icon-oculos-color2-width: 49px;
$-figure-icon-oculos-color2-height: 35px;
$-figure-icon-oculos-color2-total-width: 377px;
$-figure-icon-oculos-color2-total-height: 362px;
$-figure-icon-oculos-color2-image: '../images/sprite.png';
$-figure-icon-oculos-color2: (266px, 178px, -266px, -178px, 49px, 35px, 377px, 362px, '../images/sprite.png', 'FigureIcon--oculos--color2', );
$-figure-icon-oculos-name: 'FigureIcon--oculos';
$-figure-icon-oculos-x: 266px;
$-figure-icon-oculos-y: 108px;
$-figure-icon-oculos-offset-x: -266px;
$-figure-icon-oculos-offset-y: -108px;
$-figure-icon-oculos-width: 49px;
$-figure-icon-oculos-height: 35px;
$-figure-icon-oculos-total-width: 377px;
$-figure-icon-oculos-total-height: 362px;
$-figure-icon-oculos-image: '../images/sprite.png';
$-figure-icon-oculos: (266px, 108px, -266px, -108px, 49px, 35px, 377px, 362px, '../images/sprite.png', 'FigureIcon--oculos', );
$-figure-icon-phone-name: 'FigureIcon--phone';
$-figure-icon-phone-x: 362px;
$-figure-icon-phone-y: 38px;
$-figure-icon-phone-offset-x: -362px;
$-figure-icon-phone-offset-y: -38px;
$-figure-icon-phone-width: 15px;
$-figure-icon-phone-height: 15px;
$-figure-icon-phone-total-width: 377px;
$-figure-icon-phone-total-height: 362px;
$-figure-icon-phone-image: '../images/sprite.png';
$-figure-icon-phone: (362px, 38px, -362px, -38px, 15px, 15px, 377px, 362px, '../images/sprite.png', 'FigureIcon--phone', );
$-figure-icon-plus-size-color2-2-name: 'FigureIcon--plusSize--color2--2';
$-figure-icon-plus-size-color2-2-x: 326px;
$-figure-icon-plus-size-color2-2-y: 117px;
$-figure-icon-plus-size-color2-2-offset-x: -326px;
$-figure-icon-plus-size-color2-2-offset-y: -117px;
$-figure-icon-plus-size-color2-2-width: 33px;
$-figure-icon-plus-size-color2-2-height: 36px;
$-figure-icon-plus-size-color2-2-total-width: 377px;
$-figure-icon-plus-size-color2-2-total-height: 362px;
$-figure-icon-plus-size-color2-2-image: '../images/sprite.png';
$-figure-icon-plus-size-color2-2: (326px, 117px, -326px, -117px, 33px, 36px, 377px, 362px, '../images/sprite.png', 'FigureIcon--plusSize--color2--2', );
$-figure-icon-plus-size-color2-name: 'FigureIcon--plusSize--color2';
$-figure-icon-plus-size-color2-x: 326px;
$-figure-icon-plus-size-color2-y: 153px;
$-figure-icon-plus-size-color2-offset-x: -326px;
$-figure-icon-plus-size-color2-offset-y: -153px;
$-figure-icon-plus-size-color2-width: 33px;
$-figure-icon-plus-size-color2-height: 36px;
$-figure-icon-plus-size-color2-total-width: 377px;
$-figure-icon-plus-size-color2-total-height: 362px;
$-figure-icon-plus-size-color2-image: '../images/sprite.png';
$-figure-icon-plus-size-color2: (326px, 153px, -326px, -153px, 33px, 36px, 377px, 362px, '../images/sprite.png', 'FigureIcon--plusSize--color2', );
$-figure-icon-plus-size-name: 'FigureIcon--plusSize';
$-figure-icon-plus-size-x: 326px;
$-figure-icon-plus-size-y: 189px;
$-figure-icon-plus-size-offset-x: -326px;
$-figure-icon-plus-size-offset-y: -189px;
$-figure-icon-plus-size-width: 33px;
$-figure-icon-plus-size-height: 36px;
$-figure-icon-plus-size-total-width: 377px;
$-figure-icon-plus-size-total-height: 362px;
$-figure-icon-plus-size-image: '../images/sprite.png';
$-figure-icon-plus-size: (326px, 189px, -326px, -189px, 33px, 36px, 377px, 362px, '../images/sprite.png', 'FigureIcon--plusSize', );
$-figure-icon-sun-name: 'FigureIcon--sun';
$-figure-icon-sun-x: 133px;
$-figure-icon-sun-y: 132px;
$-figure-icon-sun-offset-x: -133px;
$-figure-icon-sun-offset-y: -132px;
$-figure-icon-sun-width: 132px;
$-figure-icon-sun-height: 132px;
$-figure-icon-sun-total-width: 377px;
$-figure-icon-sun-total-height: 362px;
$-figure-icon-sun-image: '../images/sprite.png';
$-figure-icon-sun: (133px, 132px, -133px, -132px, 132px, 132px, 377px, 362px, '../images/sprite.png', 'FigureIcon--sun', );
$-figure-icon-tasks-name: 'FigureIcon--tasks';
$-figure-icon-tasks-x: 0px;
$-figure-icon-tasks-y: 132px;
$-figure-icon-tasks-offset-x: 0px;
$-figure-icon-tasks-offset-y: -132px;
$-figure-icon-tasks-width: 133px;
$-figure-icon-tasks-height: 132px;
$-figure-icon-tasks-total-width: 377px;
$-figure-icon-tasks-total-height: 362px;
$-figure-icon-tasks-image: '../images/sprite.png';
$-figure-icon-tasks: (0px, 132px, 0px, -132px, 133px, 132px, 377px, 362px, '../images/sprite.png', 'FigureIcon--tasks', );
$-figure-icon-user-2-name: 'FigureIcon--user--2';
$-figure-icon-user-2-x: 362px;
$-figure-icon-user-2-y: 0px;
$-figure-icon-user-2-offset-x: -362px;
$-figure-icon-user-2-offset-y: 0px;
$-figure-icon-user-2-width: 15px;
$-figure-icon-user-2-height: 19px;
$-figure-icon-user-2-total-width: 377px;
$-figure-icon-user-2-total-height: 362px;
$-figure-icon-user-2-image: '../images/sprite.png';
$-figure-icon-user-2: (362px, 0px, -362px, 0px, 15px, 19px, 377px, 362px, '../images/sprite.png', 'FigureIcon--user--2', );
$-figure-icon-user-name: 'FigureIcon--user';
$-figure-icon-user-x: 362px;
$-figure-icon-user-y: 19px;
$-figure-icon-user-offset-x: -362px;
$-figure-icon-user-offset-y: -19px;
$-figure-icon-user-width: 15px;
$-figure-icon-user-height: 19px;
$-figure-icon-user-total-width: 377px;
$-figure-icon-user-total-height: 362px;
$-figure-icon-user-image: '../images/sprite.png';
$-figure-icon-user: (362px, 19px, -362px, -19px, 15px, 19px, 377px, 362px, '../images/sprite.png', 'FigureIcon--user', );
$-figure-icon-vestido-color2-2-name: 'FigureIcon--vestido--color2--2';
$-figure-icon-vestido-color2-2-x: 326px;
$-figure-icon-vestido-color2-2-y: 78px;
$-figure-icon-vestido-color2-2-offset-x: -326px;
$-figure-icon-vestido-color2-2-offset-y: -78px;
$-figure-icon-vestido-color2-2-width: 36px;
$-figure-icon-vestido-color2-2-height: 39px;
$-figure-icon-vestido-color2-2-total-width: 377px;
$-figure-icon-vestido-color2-2-total-height: 362px;
$-figure-icon-vestido-color2-2-image: '../images/sprite.png';
$-figure-icon-vestido-color2-2: (326px, 78px, -326px, -78px, 36px, 39px, 377px, 362px, '../images/sprite.png', 'FigureIcon--vestido--color2--2', );
$-figure-icon-vestido-color2-name: 'FigureIcon--vestido--color2';
$-figure-icon-vestido-color2-x: 326px;
$-figure-icon-vestido-color2-y: 0px;
$-figure-icon-vestido-color2-offset-x: -326px;
$-figure-icon-vestido-color2-offset-y: 0px;
$-figure-icon-vestido-color2-width: 36px;
$-figure-icon-vestido-color2-height: 39px;
$-figure-icon-vestido-color2-total-width: 377px;
$-figure-icon-vestido-color2-total-height: 362px;
$-figure-icon-vestido-color2-image: '../images/sprite.png';
$-figure-icon-vestido-color2: (326px, 0px, -326px, 0px, 36px, 39px, 377px, 362px, '../images/sprite.png', 'FigureIcon--vestido--color2', );
$-figure-icon-vestido-name: 'FigureIcon--vestido';
$-figure-icon-vestido-x: 326px;
$-figure-icon-vestido-y: 39px;
$-figure-icon-vestido-offset-x: -326px;
$-figure-icon-vestido-offset-y: -39px;
$-figure-icon-vestido-width: 36px;
$-figure-icon-vestido-height: 39px;
$-figure-icon-vestido-total-width: 377px;
$-figure-icon-vestido-total-height: 362px;
$-figure-icon-vestido-image: '../images/sprite.png';
$-figure-icon-vestido: (326px, 39px, -326px, -39px, 36px, 39px, 377px, 362px, '../images/sprite.png', 'FigureIcon--vestido', );
$-figure-icon-whatsapp-2-name: 'FigureIcon--whatsapp--2';
$-figure-icon-whatsapp-2-x: 345px;
$-figure-icon-whatsapp-2-y: 265px;
$-figure-icon-whatsapp-2-offset-x: -345px;
$-figure-icon-whatsapp-2-offset-y: -265px;
$-figure-icon-whatsapp-2-width: 17px;
$-figure-icon-whatsapp-2-height: 17px;
$-figure-icon-whatsapp-2-total-width: 377px;
$-figure-icon-whatsapp-2-total-height: 362px;
$-figure-icon-whatsapp-2-image: '../images/sprite.png';
$-figure-icon-whatsapp-2: (345px, 265px, -345px, -265px, 17px, 17px, 377px, 362px, '../images/sprite.png', 'FigureIcon--whatsapp--2', );
$-figure-icon-whatsapp-name: 'FigureIcon--whatsapp';
$-figure-icon-whatsapp-x: 345px;
$-figure-icon-whatsapp-y: 282px;
$-figure-icon-whatsapp-offset-x: -345px;
$-figure-icon-whatsapp-offset-y: -282px;
$-figure-icon-whatsapp-width: 17px;
$-figure-icon-whatsapp-height: 17px;
$-figure-icon-whatsapp-total-width: 377px;
$-figure-icon-whatsapp-total-height: 362px;
$-figure-icon-whatsapp-image: '../images/sprite.png';
$-figure-icon-whatsapp: (345px, 282px, -345px, -282px, 17px, 17px, 377px, 362px, '../images/sprite.png', 'FigureIcon--whatsapp', );
$-figure-icon-wpp-name: 'FigureIcon--wpp';
$-figure-icon-wpp-x: 362px;
$-figure-icon-wpp-y: 53px;
$-figure-icon-wpp-offset-x: -362px;
$-figure-icon-wpp-offset-y: -53px;
$-figure-icon-wpp-width: 15px;
$-figure-icon-wpp-height: 15px;
$-figure-icon-wpp-total-width: 377px;
$-figure-icon-wpp-total-height: 362px;
$-figure-icon-wpp-image: '../images/sprite.png';
$-figure-icon-wpp: (362px, 53px, -362px, -53px, 15px, 15px, 377px, 362px, '../images/sprite.png', 'FigureIcon--wpp', );
$-figure-icon-yt-name: 'FigureIcon--yt';
$-figure-icon-yt-x: 222px;
$-figure-icon-yt-y: 311px;
$-figure-icon-yt-offset-x: -222px;
$-figure-icon-yt-offset-y: -311px;
$-figure-icon-yt-width: 37px;
$-figure-icon-yt-height: 26px;
$-figure-icon-yt-total-width: 377px;
$-figure-icon-yt-total-height: 362px;
$-figure-icon-yt-image: '../images/sprite.png';
$-figure-icon-yt: (222px, 311px, -222px, -311px, 37px, 26px, 377px, 362px, '../images/sprite.png', 'FigureIcon--yt', );
$spritesheet-width: 377px;
$spritesheet-height: 362px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-figure-icon-apple, $-figure-icon-bikini-color2-2, $-figure-icon-bikini-color2, $-figure-icon-bikini, $-figure-icon-blusa-gravata-color2-2, $-figure-icon-blusa-gravata-color2, $-figure-icon-blusa-gravata, $-figure-icon-cabide-color2-2, $-figure-icon-cabide-color2, $-figure-icon-cabide, $-figure-icon-calcado-color2-2, $-figure-icon-calcado-color2, $-figure-icon-calcado, $-figure-icon-check, $-figure-icon-company-2, $-figure-icon-envelope-2, $-figure-icon-envelope, $-figure-icon-face, $-figure-icon-infantil-color2-2, $-figure-icon-infantil-color2, $-figure-icon-infantil, $-figure-icon-insta, $-figure-icon-jeans-color2-2, $-figure-icon-jeans-color2, $-figure-icon-jeans, $-figure-icon-lingerie-color2-2, $-figure-icon-lingerie-color2, $-figure-icon-lingerie, $-figure-icon-lupa, $-figure-icon-meditation, $-figure-icon-msg, $-figure-icon-oculos-color2-2, $-figure-icon-oculos-color2, $-figure-icon-oculos, $-figure-icon-phone, $-figure-icon-plus-size-color2-2, $-figure-icon-plus-size-color2, $-figure-icon-plus-size, $-figure-icon-sun, $-figure-icon-tasks, $-figure-icon-user-2, $-figure-icon-user, $-figure-icon-vestido-color2-2, $-figure-icon-vestido-color2, $-figure-icon-vestido, $-figure-icon-whatsapp-2, $-figure-icon-whatsapp, $-figure-icon-wpp, $-figure-icon-yt, );
$spritesheet: (377px, 362px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
