.u-lineHeight0{
	line-height: 0;
}

.u-lineHeight100{
	line-height: 100%;
}

.u-lineHeight120{
	line-height: 120%;
}
.u-lineHeight130{
	line-height: 130%;
}
.u-lineHeight140{
	line-height: 140%;
}
.u-lineHeight150{
	line-height: 150%;
}
.u-textParagraph{
	padding-top: 10px;
	padding-bottom: 10px;
}