input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea,
select{
	padding: 0 10px;
	min-height: $sizeColumns_px;
	font-size: $font_size_text;
	font-family: $fontFamily;
	outline: none !important;
}

input[type="submit"]{
	cursor: pointer;
	font-size: $font_size_text;
	font-weight: bold;
	font-family: $fontFamily;
}

$mainSelector: '.Form';
#{$mainSelector}{
	font-family: $fontFamily;
	& .Form-row{

		& br{
			display: none !important;
		}
		& .FigureIcon{
			position: absolute;
			display: block;
			content: "";
			top: 28px;
			left: 10px;	
			background-repeat: no-repeat;		
		}
	}
	& #{$mainSelector}-label{
		font-size:$font_size_text;
		color: $color_6;
	}
	& ._form-thank-you { 
		    position:relative; 
		    left:0; 
		    right:0; 
		    text-align:center; 
		    font-size:24px;
		    font-weight: bold; 
		}
	& ._error{
		color: red;
		font-size: 14px;
		margin-top: 5px;
		font-weight: bold;
	}
	&--style1{
		& .LegalText{
			font-size: 14px;
			color: $color_10;
			line-height: 130%;
			& ._error-inner{
				color: red;
				font-weight: bold;
				padding: 10px;
			}
		}
		& #{$mainSelector}-label{
			position: absolute;
			top: 4px;
			left: 6px;
			font-weight: bold;
			font-size: 11px;
			color: $color_10;
			z-index: 2;
		}

		& span.required{
				position: absolute;
				font-size: 20px;
				color: $color_5;
				right: -8px;
			    line-height: 12px;
			    display: block;
			    height: 12px;
			    top: 3px;
			}


		& #{$mainSelector}-input{
			&[type="submit"]{
				height: $sizeColumns_px * 1.5;
				color: $color_1;
				border: 0px;
				-moz-background: linear-gradient(to bottom right, $color_11, $color_5);
				-webkit-background: linear-gradient(to bottom right, $color_11, $color_5);
				background: linear-gradient(to bottom right, $color_11, $color_5);
				&:hover{
					//background: $color_11;
					-moz-background: linear-gradient(to top left, $color_11, $color_5);
					-webkit-background: linear-gradient(to top left, $color_11, $color_5);
					background: linear-gradient(to top left, $color_11, $color_5);
				}
			}
			&--textarea{
				height: inherit !important;
				padding-top: $v_spacing / 1.5;
				text-indent: 0px !important;
			}
		}
		& #{$mainSelector}-input:not([type="submit"]){
			height: $sizeColumns_px * 1.5;
			border-radius: 5px;
			border: 1px solid $color_4;
			text-indent: 22px;

			color: $color_10;
			 font-weight: bold;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $color_9;
			  font-weight: bold;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $color_9;
			  font-weight: bold;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $color_9;
			  font-weight: bold;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $color_9;
			  font-weight: bold;
			}
			
		}

		& ._form-thank-you { 
		    color: #25c844;
		}
		
	}
	&--style2{
		& #{$mainSelector}-label{
			font-weight: bold;
		}

		& #{$mainSelector}-input:not([type="submit"]){
			height: $sizeColumns_px;
			background-color: rgba(0,0,0,0.25);
			border-radius: 25px;
			overflow: hidden;
			border: none;
			color: rgba(255,255,255,0.75);
			&:after{
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				background-color: $color_2;
				z-index: -1;
				content: "";
				top: 0;
				left: 0;
			}
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $color_1;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $color_1;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $color_1;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $color_1;
			}
		}
		& #{$mainSelector}-input[type="submit"]{
			height: $sizeColumns_px;
			background: none;
			border-radius: 25px;
			color: $color_1;
			padding-left: 20px;
			padding-right: 20px;
			@media screen and (min-width: $break-md){
				padding-left: 40px;
				padding-right: 40px;
				&:hover{
					background: $color_3;
					border-color: $color_3;
					color: $color_2;
				}
			}
		}
	}
	&--style3{
		& #{$mainSelector}-label{
			font-weight: bold;
		}

		& #{$mainSelector}-input{
			height: $v_spacing;
			min-height: $v_spacing;
			border: 2px solid $color_1;
			&[type="text"]{
				background-color: $color_1;
				color: $color_2;
				font-weight: bold;
				font-size: 16px;
			}
			&[type="submit"]{
				background-color: none;
				color: $color_1;
				&:hover{
					background-color: $color_9;
					border: 2px solid $color_9;
				}
			}
		}
		
	}
}

// EMBED ORÇAMENTO
